- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin relieved
  response#relieved.
    !{getTranslatedString('owls_nest.chiaraDefault.relieved_response')}

mixin get_started
  if worldState.movementSwitch
    response#understood.
      !{getTranslatedString('owls_nest.chiaraDefault.get_started_understood')}
  else
    response#get_started.
      !{getTranslatedString('owls_nest.chiaraDefault.get_started_get_started')}

conversation(display_name="Chiara")
  case lastResponse
    when "relieved"
      statement#relieved
      responses
        response#fish.
          !{getTranslatedString('owls_nest.chiaraDefault.relieved_fish')}

    when "fish"
      statement#tell_right_away
      responses
        +get_started

    when "who_are_you"
      statement#chiara
      responses
        +relieved
        +get_started

    when "get_started"
      statement#get_started
      responses
        response#letsgo.
          !{getTranslatedString('owls_nest.chiaraDefault.get_started_letsgo')}
    
    when "letsgo"
      statement#test_motor
      responses
        response#understood.
          !{getTranslatedString('owls_nest.chiaraDefault.letsgo_understood')}

    when "understood"
      statement#keep_moving
      responses
        +relieved

    default
      if !worldState.chiaraInitialGreeting
        - worldState.chiaraInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            !{getTranslatedString('owls_nest.chiaraDefault.default_default')}
          +get_started

      else
        statement#follow_up_greeting
        responses
          response#who_are_you.
            !{getTranslatedString('owls_nest.chiaraDefault.default_follow_up_greeting')}
          +get_started

  statements
    statement#default
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.default')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.follow_up_greeting')}
    
    statement#chiara
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.chiara')}
    
    statement#relieved
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.relieved')}

    statement#tell_right_away
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.tell_right_away')}

    statement#keep_moving
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.keep_moving')}

    statement#test_motor
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.test_motor')}

    statement#get_started
      text.
        !{getTranslatedString('owls_nest.chiaraDefault.get_started')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
