- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);
- 
  let speaker = 'Fredric';
  if (lastResponse && lastResponse.indexOf('kevin_') === 0) {
    speaker = 'Kevin';
  } else if (lastResponse && lastResponse.indexOf('cedric_') === 0) {
    speaker = 'Cedric';
  }
conversation(display_name=speaker)
  case lastResponse
    when "never_get_away"
      statement#never_get_away
      responses

    when "what_fog_owl"
      statement#what_fog_owl
      responses
        response#cedric_that_you.
          !{getTranslatedString('owls_nest.fredricDefault.what_fog_owl_cedric_that_you')}
        response#never_get_away.
          !{getTranslatedString('owls_nest.fredricDefault.what_fog_owl_never_get_away')}

    when "cedric_that_you"
      statement(expression="cedricNeutral.png")#cedric_that_you
      responses
        response#kevin_that_you_continued.
          !{getTranslatedString('owls_nest.fredricDefault.cedric_that_you_kevin_that_you_continued')}

    when "kevin_that_you_continued"
      statement(expression="kevinNeutral.png")#kevin_that_you_continued
      responses
        response#fredric_that_you_continued.
          !{getTranslatedString('owls_nest.fredricDefault.kevin_that_you_continued_fredric_that_you_continued')}

    when "fredric_that_you_continued"
      statement#fredric_that_you_continued
      responses
        response#what_fog_owl.
          !{getTranslatedString('owls_nest.fredricDefault.fredric_that_you_continued_what_fog_owl')}

    default
      statement#greeting
      responses
        response#what_fog_owl.
          !{getTranslatedString('owls_nest.fredricDefault.greeting_what_fog_owl')}
        response#cedric_that_you.
          !{getTranslatedString('owls_nest.fredricDefault.greeting_cedric_that_you')}

  statements
    statement#what_fog_owl
      text.
        !{getTranslatedString('owls_nest.fredricDefault.what_fog_owl')}
    statement#never_get_away
      text.
        !{getTranslatedString('owls_nest.fredricDefault.never_get_away')}
    statement#cedric_that_you
      text.
        !{getTranslatedString('owls_nest.fredricDefault.cedric_that_you')}
    statement#kevin_that_you_continued
      text.
        !{getTranslatedString('owls_nest.fredricDefault.kevin_that_you_continued')}
    statement#fredric_that_you_continued
      text.
        !{getTranslatedString('owls_nest.fredricDefault.fredric_that_you_continued')}
    statement#greeting
      text.
        !{getTranslatedString('owls_nest.fredricDefault.greeting')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
