- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin about_team
  response#cedric_index.
    !{getTranslatedString('owls_nest.kevinCedricDefault.about_team_cedric_index')}
  response#kevin_index.
    !{getTranslatedString('owls_nest.kevinCedricDefault.about_team_kevin_index')}

mixin cedric_questions
  response#cedric_job.
    !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_questions_cedric_job')}
  response#cedric_related_kevin.
    !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_questions_cedric_related_kevin')}
  response#cedric_conversation_index.
    !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_questions_cedric_conversation_index')}

mixin kevin_questions
  response#kevin_job.
    !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_questions_kevin_job')}
  response#kevin_related_cedric.
    !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_questions_kevin_related_cedric')}
  response#kevin_conversation_index.
    !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_questions_kevin_conversation_index')}

mixin get_started
  if worldState.fredricThreatReceived
    response#get_started.
      !{getTranslatedString('owls_nest.kevinCedricDefault.get_started_get_started')}
  else
    response#kevin_get_started.
      !{getTranslatedString('owls_nest.kevinCedricDefault.get_started_kevin_get_started')}

- 
  let speaker = 'Cedric';
  if (
    (
      worldState.kevinCedricInitialGreeting && 
      !worldState.fredricThreatReceived &&
      !lastResponse
    ) ||
    (lastResponse && lastResponse.indexOf('kevin_') === 0)
  ) {
    speaker = 'Kevin';
  }
conversation(display_name=speaker)
  case lastResponse
    when "cedric_index"
      statement#cedric_index
      responses
        +cedric_questions
    when "cedric_job"
      statement#cedric_job
      responses
        +cedric_questions
    when "cedric_related_kevin"
      statement#cedric_related_kevin
      responses
        +cedric_questions
    when "kevin_index"
      statement(expression="kevinNeutral.png")#kevin_index
      responses
        +kevin_questions
    when "kevin_job"
      statement(expression="kevinNeutral.png")#kevin_job
      responses
        +kevin_questions
    when "kevin_related_cedric"
      statement(expression="kevinNeutral.png")#kevin_related_cedric
      responses
        response#kevin_kid_low_pressure.
          !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_related_cedric_kevin_kid_low_pressure')}
        +kevin_questions
    when "kevin_kid_low_pressure"
      statement(expression="kevinNeutral.png")#kevin_kid_low_pressure
      responses
        +kevin_questions
    when "kevin_get_started"
      statement(expression="kevinNeutral.png")#kevin_get_started
      responses
        response#kevin_next_step.
          !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_get_started_kevin_next_step')}
        response#kevin_espresso_machine.
          !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_get_started_kevin_espresso_machine')}
    when "kevin_espresso_machine"
      statement(expression="kevinNeutral.png")#kevin_espresso_machine
      responses
        response#kevin_next_step.
          !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_espresso_machine_kevin_next_step')}
    when "kevin_next_step"
      statement(expression="kevinNeutral.png")#kevin_next_step
      responses
        +about_team
    when "cedric_conversation_index"
      statement#cedric_conversation_index
      responses
        +get_started
        +about_team
    when "kevin_conversation_index"
      statement(expression="kevinNeutral.png")#kevin_conversation_index
      responses
        +get_started
        +about_team

    when "kevin_who_are_you"
      statement(expression="kevinNeutral.png")#kevin_who_are_you
      responses
        +get_started
        +about_team

    default
      if worldState.fredricThreatReceived
        statement#no_time
        responses
      else if !worldState.kevinCedricInitialGreeting
        - worldState.kevinCedricInitialGreeting = true;
        statement#default
        responses
          response#kevin_who_are_you.
            !{getTranslatedString('owls_nest.kevinCedricDefault.default_kevin_who_are_you')}
          +get_started

      else
        statement(expression="kevinNeutral.png")#follow_up_greeting
        responses
          +get_started
          +about_team

  statements
    statement#no_time
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.no_time')}

    statement#cedric_index
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_index')}

    statement#cedric_job
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_job')}

    statement#kevin_who_are_you
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_who_are_you')}

    statement#cedric_related_kevin
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_related_kevin')}

    statement#kevin_index
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_index')}

    statement#kevin_job
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_job')}

    statement#kevin_related_cedric
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_related_cedric')}

    statement#kevin_kid_low_pressure
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_kid_low_pressure')}

    statement#default
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.default')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.follow_up_greeting')}

    statement#cedric_conversation_index
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.cedric_conversation_index')}

    statement#kevin_conversation_index
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_conversation_index')}

    statement#kevin_espresso_machine
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_espresso_machine')}

    statement#kevin_get_started
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_get_started')}

    statement#kevin_next_step
      text.
        !{getTranslatedString('owls_nest.kevinCedricDefault.kevin_next_step')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
