- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Kevin")
  case lastResponse
    when "how_help"
      statement#how_help
      responses
        response#like_fredric.
          !{getTranslatedString('owls_nest.kevinVictoryInitial.how_help_like_fredric')}
        response#will_do.
          !{getTranslatedString('owls_nest.kevinVictoryInitial.how_help_will_do')}
    
    when "like_fredric"
      statement#like_fredric
      responses
        response#will_do.
          !{getTranslatedString('owls_nest.kevinVictoryInitial.like_fredric_will_do')}

    when "will_do"
      statement#will_do
      responses

    default
      statement#default
      responses
        response#how_help.
          !{getTranslatedString('owls_nest.kevinVictoryInitial.default_how_help')}

  statements
    statement#like_fredric
      text.
        !{getTranslatedString('owls_nest.kevinVictoryInitial.like_fredric')}
    statement#how_help
      text.
        !{getTranslatedString('owls_nest.kevinVictoryInitial.how_help')}
    statement#will_do
      text.
        !{getTranslatedString('owls_nest.kevinVictoryInitial.will_do')}
    statement#default
      text.
        !{getTranslatedString('owls_nest.kevinVictoryInitial.default')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
