- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin break_stuff
  response#break_stuff.
    !{getTranslatedString('owls_nest.margaretDefault.break_stuff_break_stuff')}

mixin get_started
  if worldState.firstObjectiveHacked
    response#get_started.
      !{getTranslatedString('owls_nest.margaretDefault.get_started_firstObjectiveHacked_response')}
  else if worldState.hackingToolAcquired
    response#get_started.
      !{getTranslatedString('owls_nest.margaretDefault.get_started_hackingToolAcquired_response')}
  else
    response#get_started.
      !{getTranslatedString('owls_nest.margaretDefault.get_started_get_started')}

conversation(display_name="Margaret")
  case lastResponse
    when "break_stuff"
      statement#break_stuff
      responses
        response#no_harm.
          !{getTranslatedString('owls_nest.margaretDefault.break_stuff_no_harm')}
        response#what_vcr.
          !{getTranslatedString('owls_nest.margaretDefault.break_stuff_what_vcr')}

    when "what_vcr"
      statement#what_vcr
      responses
        +get_started

    when "no_harm"
      statement#extra_parts
      responses
        +get_started

    when "who_are_you"
      statement#margaret
      responses
        +break_stuff
        +get_started

    when "get_started"
      statement#get_started
      responses
        if worldState.firstObjectiveHacked
          response#understood.
            !{getTranslatedString('owls_nest.margaretDefault.get_started_understood')}
        else
          response#how_hack.
            !{getTranslatedString('owls_nest.margaretDefault.get_started_how_hack')}
    
    when "how_hack"
      statement#how_hack
      responses
        response#understood.
          !{getTranslatedString('owls_nest.margaretDefault.how_hack_understood')}

    when "understood"
      statement#keep_moving
      responses
        response#who_are_you.
          !{getTranslatedString('owls_nest.margaretDefault.keep_moving_who_are_you')}

    default
      if !worldState.margaretInitialGreeting
        - worldState.margaretInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            !{getTranslatedString('owls_nest.margaretDefault.default_default')}
          +get_started

      else
        statement#follow_up_greeting
        responses
          response#who_are_you.
            !{getTranslatedString('owls_nest.margaretDefault.default_follow_up_greeting')}
          +get_started

  statements
    statement#default
      text.
        !{getTranslatedString('owls_nest.margaretDefault.default')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('owls_nest.margaretDefault.follow_up_greeting')}

    statement#how_hack
      text.
        !{getTranslatedString('owls_nest.margaretDefault.how_hack')}

    statement#get_started
      if worldState.firstObjectiveHacked
        text.
          !{getTranslatedString('owls_nest.margaretDefault.get_started_firstObjectiveHacked')}
      else if worldState.hackingToolAcquired
        text.
          !{getTranslatedString('owls_nest.margaretDefault.get_started_hackingToolAcquired')}
      else 
        text.
          !{getTranslatedString('owls_nest.margaretDefault.get_started')}
    
    statement#margaret
      text.
        !{getTranslatedString('owls_nest.margaretDefault.margaret')}
    
    statement#break_stuff
      text.
        !{getTranslatedString('owls_nest.margaretDefault.break_stuff')}

    statement#what_vcr
      text.
        !{getTranslatedString('owls_nest.margaretDefault.what_vcr')}
  
    statement#extra_parts
      text.
        !{getTranslatedString('owls_nest.margaretDefault.extra_parts')}

    statement#keep_moving
      text.
        !{getTranslatedString('owls_nest.margaretDefault.keep_moving')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
