- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Ryan")
  case lastResponse
    when "how_help"
      statement#how_help
      responses
        response#on_it.
          !{getTranslatedString('owls_nest.ryanBehindFire.how_help_on_it')}
    
    when "on_it"
      statement#thanks
      responses

    default
      statement#oh_no
      responses
        response#how_help.
          !{getTranslatedString('owls_nest.ryanBehindFire.oh_no_how_help')}

  statements
    statement#thanks
      text.
        !{getTranslatedString('owls_nest.ryanBehindFire.thanks')} 
    statement#how_help
      text.
        !{getTranslatedString('owls_nest.ryanBehindFire.how_help')}
    statement#oh_no
      text.
        !{getTranslatedString('owls_nest.ryanBehindFire.oh_no')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
